*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


#encabezado{
    display: flex;
    margin: 13px 0 ;
    align-items: center;
    
}
 #encabezado #menu{
    display: flex;
    list-style: none;
}
#menu{
    width: 27%;
    list-style: none;
    
}
#menu li a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    
}
#buttonm{
    border-radius: 25px;
    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
}
#menu li a:hover{
  color: rgb(0, 194, 194);
}
#buttonm:hover{
    background-color: rgb(118, 247, 247);
}

#arriba{
    background-color:rgb(250, 250, 250);
    padding: 150px 0;
    background-image: url(.../.../assets/images/image-mockups.png),url(/assets/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 700px -150px,495px -250px;
    overflow: hidden;
    
}
#arriba #texto h1{
    color: rgb(24, 53, 58);
   font-size: 55px;
   font-weight: 100;
   
   
}
#arriba #texto p{
    color: rgb(120, 120, 120);
    margin: 30px 0;
    line-height: 25px;
}
#arriba #texto{
    margin-left: 150px;
}
#buttomc{
    border-radius: 25px;
    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
}
#buttomc:hover{
    background-color: rgb(118, 247, 247);
}
#content #centro{
    background-image:url(/assets/images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 700px -750px;
    background-color:rgb(245, 245, 245);
    padding: 90px 150px ;
}
#textosupe h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
}
#textosupe p{
    color: rgb(120, 120, 120);
    margin: 30px 0;
    line-height: 25px;
}
#centro #celdas{
    display: flex;
}
#celdas #text h2{
    color: rgb(24, 53, 58);
    font-weight: 100;
    margin: 30px 0;
}
#celdas #text p{
    color: rgb(120, 120, 120);
    margin-right: 40px;
    line-height: 25px;
}
#content #bajo{
    background-color:rgb(250, 250, 250);
    padding: 90px 150px;
}
#bajo h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
    margin-bottom: 55px;
}
#bajo #cards{
    display: flex;
}
#cards .card{
    margin-right: 30px;
    background-color: white;
    width: 50%;
    overflow: hidden;
}
.card #img img {
    width: 100%;
    border-radius: 10px;
}
#tx #pcard{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 10px;
}
#tx h3 a{
    text-decoration: none;
    color: rgb(107, 106, 106);
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}
#tx h3 a:hover{
    color:rgb(0, 194, 194) ;
}
#tx h3{
    margin: 0 20px;
}
#tx p{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 14px;
    line-height: 20px;
}
#container footer{
    background-color: rgb(26, 26, 83);
}

footer{
    display: flex;
    
}
footer #footer1{
    margin: 40px 150px;
    color: #d0cccc;
}
#footer1 #banner{
    margin-bottom: 50px;
}
footer #footer2{
    margin: 40px;
    list-style: none;
   
}
#footer2 li a {
    text-decoration: none;
    line-height: 36px;
    
    color: rgb(226, 225, 225);
}
#footer2 li a:hover{
    color: rgb(15, 136, 136);
}
footer #footer3{
    margin: 40px;
    list-style: none;
}
#footer3 li a {
    text-decoration: none;
    line-height: 35px;
    color: rgb(226, 225, 225);
}

#footer3 li a:hover{
    color: rgb(15, 136, 136);
}

footer #footer4{
    margin: 40px 50px 40px 350px;
}
#footer4 button{
    
    border-radius: 30px;
    padding: 10px 40px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-size: 12px;
    margin-bottom: 30px;
}
#footer4 button:hover{
    background-color: rgb(118, 247, 247);
}

#footer4 p{
    color: #d0cccc;
    font-size: 12px;
}

#hamburger,#close{
    display: none;
}

@media (max-width:500px)
{
    #hamburguer,#close{
        display: block;
        position: absolute;
        top: 14px;
        right: 10%;
    }
    #close{
        display: none;
        z-index: 20;
    }
    #encabezado #menu{
        display: none;
        background-color: white;
        border-radius: 2%;
        line-height: 200%;
        position: absolute;
        top:14%;
        right: 5%;
        flex-direction: column;
        padding: 40px 0;
        width: 90%;
    }
    #encabezado #banner{
        margin-left: 7%;
    }
    #btnmenu{
        display: none;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    #centro #celdas, #bajo #cards{
        flex-direction: column;
    }
    #content #arriba,
    #content #centro,
    #content #bajo{
        width: 100%;
        padding:0;
        padding-top: 30px;
    }
    #centro #celdas,
    #centro #textosupe{
        width: 90%;
        padding-bottom: 30px;
    }
    #bajo .card{
        margin: auto;
        width: 90%;
    }
    #bajo h1{
        margin-left: 30px;
    }
    #arriba #texto{
        margin: 0 auto;
        width: 90%;
        margin-bottom: 70px;
        margin-top: 800px;
    }
    #centro{
        background-image: url(/assets/images/image-mockups.png),none;
    }
    footer #footer1,
    footer #mitad,
    footer #footer4{
        margin:12px auto;
        padding: 0 ;
    }
    footer #footer1{
        margin-top: 50px;
    }
    footer #footer4{
        padding-bottom: 50px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mitad {
        margin: 0 auto;
        padding: 0 auto;
        flex-direction: column;
    }
}